* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.root-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh; /* vw vs vh :) */
}

.marker {
  max-height: 40px;
  margin-right: 10px;
}

.IP-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ip-container {
  background-color: #FFF;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  text-align: center;
  max-width: 25vw;
  overflow: hidden;
  padding-bottom: 1.5em;
}

.flag-img {
  border-radius: 10px 10px 0 0;
  max-height: auto;
  max-width: 25vw;
  margin: 0 0 2em;
}

.title-wrapper,
.date-wrapper,
.time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-wrapper *,
.time-wrapper * {
  margin: 0;
}

.calendar-icon {
  max-height: 25px;
}

.clock-icon {
  max-height: 18px;
  margin-right: 5px;
}

hr {
  margin: 2em 0 1em;
}

.date-time {
  color:rgb(88, 88, 88);
  font-size: 14px;
}